<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta property="og:image" content="http://gdicland.com/assets/img/m1_1_planning_img1.jpg">
	<title>김해대동첨단산업단지㈜</title>
	<link rel="stylesheet" th:href="@{/assets/css/gdic_style_v1.1.css}">
	<script th:src="@{/assets/js/jquery.min.js}"></script>
	<script th:src="@{/assets/js/slick.min.js}"></script>
	<script th:src="@{/assets/js/gdic_v1.1.js}"></script>
	<script>
		$(function(){
			$('#gdic_header').html(gdic_header);
			$('#gdic_footer').html(gdic_footer);
			footer_slide_on();
			$('.main_popup').addClass('show');
		})
	</script>
	</head>	

	
	<body id="gdic_main">
		<header id="gdic_header">
			
		</header>

		<section id="gdic_body">
			<div class="sub_top">
				<div class="container">
					<div class="row">
						<div class="col">

						</div>
					</div>
				</div>
			</div>

			<div class="m_p1">
				<div class="container">
					<div class="row mb_50">
						<div class="col">
							<ul class="sub_nav_list f_s0">
								<li>홈</li>
								<li>사업안내</li>
								<li>위치 및 투자가치</li>
							</ul>
						</div>
					</div>

					<div class="row mb_50">
						<div class="col">
							<div class="sub_pagetitle">
								<h2 class="ft_s5">위치 및 투자가치</h2>
								<p class="f_c_g2">김해대동첨단산업단지㈜만의 위치와 투자가치!</p>
							</div>
						</div>
					</div>

					<div class="row mb_50">
						<div class="col">
<!--							<div class="mb_20"><img th:src="@{/assets/img/m2_1_vision1_img1.jpg}" class="w-100" /></div>-->
							<div class="mb_20"><img th:src="@{/assets/img/m2_1_vision1_img2.jpg}" class="w-100" /></div>
							<div class="mb_20"><img th:src="@{/assets/img/m2_1_vision1_img3.jpg}" class="w-100" /></div>
							<div class="mb_20"><img th:src="@{/assets/img/m2_1_vision1_img4.jpg}" class="w-100" /></div>
							<div class="mb_20"><img th:src="@{/assets/img/m2_1_vision1_img5.jpg}" class="w-100" /></div>
							<div><img th:src="@{/assets/img/m2_1_vision1_img6.jpg}" class="w-100" /></div>
						</div>
					</div>

					<!--
					<div class="row mb_50">
						<div class="col">
							<div><img src="assets/img/m2_1_vision1.jpg" class="w-100" /></div>
						</div>
					</div>

					<div class="row mb_50">
						<div class="col">
							<div><img src="assets/img/m2_1_vision2.jpg" class="w-100" /></div>
						</div>
					</div>

					<div class="row mb_50">
						<div class="col">
							<div class="d-flex">
								<div class="gdic_sub_style_box1" style="width:65%;">
									<div><img src="assets/img/m2_1_vision3.jpg" class="w-100" /></div>
									<div><img src="assets/img/m2_1_vision4.jpg" class="w-100" /></div>
								</div>
								<div class="gdic_sub_text_box1 pl_30" style="width:45%;">
									<p class="ft_s2 fw_psb mb_20">입지 특장점</p>
									<ul class="gdic_sub_list2 f_s1 f_c_g2">
										<li>김해대동첨단산업단지의 위치적 강점은 크게 양산시, 김해시 부산화명동의 가운데 위치하고 있는 점 입니다.<br />
											<span class="f_c_br1">(김해시청 20분, 양산 10분, 부산화명동 10분, 김해공항 20분거리)</span>
										</li>
										<li>단지 중앙을 가로지르는 부산외곽순환도로(김해 진영 - 부산 기장)와 김해금관가야 휴게소 및 단지로 바로 내릴 수 있는 하이패스 IC<br />
											단지와 인접한 중앙고속도로, 대감JC 대동JC등 교통망이 발달되어 있어 지리적으로 큰 이점으로 작용합니다.
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="row mb_30">
						<div class="col">
							<h3 class="gdic_h3 ft_s3 fw_psb mb_20">사업개요</h3>
							<p>1시간이내 글로벌기업 위치(창원: LG전자, 쉐보레, 두산 / 울산 : 현대자동차, 두산건설기계 / 포항 : 포스코)</p>
						</div>
					</div>

					<div class="row mb_50">
						<div class="col">
							<div><img src="assets/img/m2_1_vision5.jpg" class="w-100" /></div>
						</div>
					</div>

					<div class="row mb_30">
						<div class="col">
							<h3 class="gdic_h3 ft_s3 fw_psb">교통, 물류인프라</h3>
						</div>
					</div>

					<div class="row mb_30">
						<div class="col">
							<ul class="gdic_sub_list3">
								<li>
									<div class="img_box"><img src="assets/img/m2_1_vision6.jpg" /></div>
									<div class="text_box">
										<p class="f_s5 f_c_active3 mb_10">도로</p>
										<p class="f_s1 f_c_g2">중앙고속도로(부산 ~ 대구),<br />남해고속도로(부산-순천) 인접</p>
									</div>
								</li>

								<li>
									<div class="img_box"><img src="assets/img/m2_1_vision7.jpg" /></div>
									<div class="text_box">
										<p class="f_s5 f_c_active3 mb_10">철도</p>
										<p class="f_s1 f_c_g2">구포역(KTX, 약 20분 소요)</p>
									</div>
								</li>

								<li>
									<div class="img_box"><img src="assets/img/m2_1_vision8.jpg" /></div>
									<div class="text_box">
										<p class="f_s5 f_c_active3 mb_10">항만</p>
										<p class="f_s1 f_c_g2">부산신항(1시간이내),<br />울산항, 포항 인접</p>
									</div>
								</li>

								<li>
									<div class="img_box"><img src="assets/img/m2_1_vision9.jpg" /></div>
									<div class="text_box">
										<p class="f_s5 f_c_active3 mb_10">공항</p>
										<p class="f_s1 f_c_g2">김해국제공항(약 20분 소요)</p>
									</div>
								</li>

								<li>
									<div class="img_box"><img src="assets/img/m2_1_vision10.jpg" /></div>
									<div class="text_box">
										<p class="f_s5 f_c_active3 mb_10">몰류</p>
										<p class="f_s1 f_c_g2">지구내 물류센터 건립 용지</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
					-->
				</div>
			</div>
		</section>

		<footer id="gdic_footer">
			
		</footer>
	</body>
</html>