<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta property="og:image" content="http://gdicland.com/assets/img/m1_1_planning_img1.jpg">
	<title>김해대동첨단산업단지㈜</title>
	<link rel="stylesheet" th:href="@{/assets/css/gdic_style_v1.1.css}">
	<script th:src="@{/assets/js/jquery.min.js}"></script>
	<script th:src="@{/assets/js/slick.min.js}"></script>
	<script th:src="@{/assets/js/gdic_v1.1.js}"></script>
	<script>
		$(function(){
			$('#gdic_header').html(gdic_header);
			$('#gdic_footer').html(gdic_footer);
			footer_slide_on();
			$('.main_popup').addClass('show');
		})
	</script>
	</head>	

	
	<body id="gdic_main">
		<header id="gdic_header">
			
		</header>
		
		<section id="gdic_body">
			<div class="sub_top">
				<div class="container">
					<div class="row">
						<div class="col">
							
						</div>
					</div>
				</div>
			</div>

			<div class="m_p1">
				<div class="container">
					<div class="row mb_50">
						<div class="col">
							<ul class="sub_nav_list f_s0">
								<li>홈</li>
								<li>사업안내</li>
								<li>세제혜택</li>
							</ul>
						</div>
					</div>

					<div class="row mb_50">
						<div class="col">
							<div class="sub_pagetitle">
								<h2 class="ft_s5">세제혜택</h2>
								<p class="f_c_g2">취득세, 재산세, 추진사항에 대하여 보실 수 있습니다.</p>
							</div>
						</div>
					</div>

					<div class="row mb_50">
						<div class="col">
							<h3 class="gdic_h3 ft_s3 fw_psb mb_20">취득세<span class="f_s5"> (취득세란, 소재지와 상관없이 산업단지 입주 시(지방세특례제한법 78조))</span></h3>

							<table class="gdic_table_style1 w-100 f_s3 f_c_g1 mb_10">
								<colgroup>
									<col width="14%">
									<col width="86%">
								</colgroup>
								<tbody>
									<tr>
										<th class="type2">
											<div class="gdic_table_title1">
												<p>명</p>
												<p>칭</p>
											</div>
										</th>
										<th colspan="3">
											<div class="gdic_table_title1 size1">
												<p>내</p>
												<p>용</p>
											</div>
										</th>
									</tr>
								</tbody>
								<tbody>
									<tr>
										<th class="type3">
											<div class="gdic_table_title1">
												<p>대</p>
												<p>상</p>
												<p>자</p>
											</div>
										</th>
										<td>토지 공급대금 납부자 주 1)연부취득자(매회 연부금 납부자)</td>
									</tr>
									<tr>
										<th class="type3">
											<div class="gdic_table_title1">
												<p>기</p>
												<p>한</p>
											</div>
										</th>
										<td>토지 공급대금(연부자) 납부일로부터 <span class="fw_psb">60일 이내</span> 신고ㆍ납부</td>
									</tr>
									<tr>
										<th class="type3">
											<div class="gdic_table_title1">
												<p>감</p>
												<p>면</p>
												<p>사</p>
												<p>항</p>
											</div>
										</th>
										<td><span class="fw_psb">취득세 50%</span> (지방세특례제한법 제78조 제4항 제2호)(경상남도는 도세감면조례 제4조 추가 25% 감면 조항이 삭제)</td>
									</tr>
									<tr>
										<th class="type3">
											<div class="gdic_table_title1">
												<p>주</p>
												<p>의</p>
												<p>사</p>
												<p>항</p>
											</div>
										</th>
										<td>산업단지 내 토지, 건축물은 등기 여부와 관계없이 신고ㆍ납부하여야 함. 신고ㆍ납부기한까지 무신고 및 과소 신고분에 대하여는 가산세가 부과됨</td>
									</tr>
								</tbody>
							</table>

							<p class="f_c_g2">※ 주 1) 연부취득이란: 공급대금을 2년 이상에 걸쳐 납부할 경우 분양대금을 납부할 때마다 지급액에 대하여 60일 이내에 취득세를 신고, 납부하여야 함.</p>
						</div>
					</div>

					<div class="row mb_50">
						<div class="col">
							<h3 class="gdic_h3 ft_s3 fw_psb mb_20">재산세<span class="f_s5"> (제산세란, 소재지와 상관없이 산업단지 입주 시, 5년간 75% 감면 (지방세특례제한법 78조))</span></h3>

							<table class="gdic_table_style1 w-100 f_s3 f_c_g1">
								<colgroup>
									<col width="14%">
									<col width="86%">
								</colgroup>
								<tbody>
									<tr>
										<th class="type2">
											<div class="gdic_table_title1">
												<p>구</p>
												<p>분</p>
											</div>
										</th>
										<th colspan="3">
											<div class="gdic_table_title1 size1">
												<p>내</p>
												<p>용</p>
											</div>
										</th>
									</tr>
								</tbody>
								<tbody>
									<tr>
										<th class="type3">
											<div class="gdic_table_title1">
												<p>대</p>
												<p>상</p>
												<p>자</p>
											</div>
										</th>
										<td>산업용 건축물 등을 신축 또는 증축하여 취하는 부동산</td>
									</tr>
									<tr>
										<th class="type3">
											<div class="gdic_table_title1">
												<p>감</p>
												<p>면</p>
												<p>사</p>
												<p>항</p>
											</div>
										</th>
										<td><span class="fw_psb">재산세 75%</span> (지방세특례제한법 제78조 제4항 제2호)</td>
									</tr>
									<tr>
										<th class="type3">
											<div class="gdic_table_title1">
												<p>감</p>
												<p>면</p>
												<p>기</p>
												<p>간</p>
											</div>
										</th>
										<td>납세의무가 최초로 성립하는 날 ~ <span class="fw_psb">5년간 감면</span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="row mb_50">
						<div class="col">
							<h3 class="gdic_h3 ft_s3 fw_psb mb_20">추진사항</h3>

							<table class="gdic_table_style1 w-100 f_s3 f_c_g1 mb_10">
								<colgroup>
									<col width="14%">
									<col width="86%">
								</colgroup>
								<tbody>
									<tr>
										<th class="type2">
											<div class="gdic_table_title1">
												<p>구</p>
												<p>분</p>
											</div>
										</th>
										<th colspan="3">
											<div class="gdic_table_title1 size1">
												<p>내</p>
												<p>용</p>
											</div>
										</th>
									</tr>
								</tbody>
								<tbody>
									<tr>
										<th class="type3" rowspan="2">
											지방세특례제한법 제78조 제5항
										</th>
										<td>정당한 사유 없이 그 취득일로부터 3년이 경과할 때까지 해당 용도로 직접 사용하지 아니하는 경우</td>
									</tr>
									<tr>
										<td>해당 용도로 직접 사용한 기간이 2년 미만인 상태에서 매각ㆍ증여하거나 다른 용도로 사용하는 경우</td>
									</tr>
								</tbody>
							</table>

							<p class="f_c_g2 f_s1">
								※ 관련 법률 제ㆍ개정에 따라 위 내용이 변동될 수 있으며, 참고용 자료이니 자세한 사항은 김해시 세무과 도세팀(055-330-3484)으로 문의하시길 바랍니다.<br />
								※ 참고용 자료이므로 법적 책임은 당 사업단과는 무관함을 알려드립니다.
							</p>
						</div>
					</div>
				
				</div>
			</div>
		</section>

		<footer id="gdic_footer">
			
		</footer>
	</body>
</html>