@font-face {
	font-family: 'Pretendard_m';
	src: url('../fonts/Pretendard-Medium.woff') format('truetype');
}
@font-face {
	font-family: 'Pretendard_l';
	src: url('../fonts/Pretendard-Light.woff') format('truetype');
}
@font-face {
	font-family: 'Pretendard_el';
	src: url('../fonts/Pretendard-ExtraLight.woff') format('truetype');
}
@font-face {
	font-family: 'Pretendard_b';
	src: url('../fonts/Pretendard-Bold.woff') format('truetype');
}
@font-face {
	font-family: 'Pretendard_r';
	src: url('../fonts/Pretendard-Regular.woff') format('truetype');
}
@font-face {
	font-family: 'Pretendard_sb';
	src: url('../fonts/Pretendard-SemiBold.woff') format('truetype');
}
@font-face {
	font-family: 'Pretendard_eb';
	src: url('../fonts/Pretendard-ExtraBold.woff') format('truetype');
}

@font-face {
	font-family: 'NanumSquareB';
	src: url('../fonts/NanumSquareB.ttf') format('truetype');
}



.fw_pm {font-family: 'Pretendard_m';}
.fw_pl {font-family: 'Pretendard_l';}
.fw_pel {font-family: 'Pretendard_el';}
.fw_pr {font-family: 'Pretendard_r';}
.fw_pb {font-family: 'Pretendard_b';}
.fw_psb {font-family: 'Pretendard_sb';}
.fw_peb {font-family: 'Pretendard_eb';}

.fw_nb {font-family: 'NanumSquareB';}

body {
	font-family: 'Pretendard_m';
	color:#000;
	/*overflow-x:hidden;*/
}
body * {word-break: keep-all;}

a {text-decoration: none;}
ul {list-style: none; padding:0; margin:0;}
dl,dt,dd {margin:0;}
select {-webkit-appearance: none; -moz-appearance: none;}
input, select {outline:none;}
button {border:0;}

.pr-0 {padding-right:0;}
.pl-0 {padding-left:0;}

body {font-size:13px; color:#333;}
.f_s0 {font-size:10px;}
.f_s1 {font-size:12px;}
.f_s2 {font-size:13px;}
.f_s3 {font-size:13px;}
.f_s4 {font-size:14px;}
.f_s5 {font-size:15px;}
.f_s6 {font-size:16px;}
.f_s7 {font-size:18px;}

.ft_s0 {font-size:14px;}
.ft_s1 {font-size:20px;}
.ft_s2 {font-size:16px;}
.ft_s3 {font-size:17px;}
.ft_s4 {font-size:18px;}
.ft_s5 {font-size:25px;}
.ft_smt {font-size:30px;}

@media (min-width: 768px){
	body {font-size:15px;}
	.f_s0 {font-size:13px;}
	.f_s1 {font-size:14px;}
	.f_s2 {font-size:15px;}
	.f_s3 {font-size:16px;}
	.f_s4 {font-size:17px;}
	.f_s5 {font-size:18px;}
	.f_s6 {font-size:20px;}
	.f_s7 {font-size:22px;}

	.ft_s0 {font-size:18px;}
	.ft_s1 {font-size:20px;}
	.ft_s2 {font-size:22px;}
	.ft_s3 {font-size:24px;}
	.ft_s4 {font-size:28px;}
	.ft_s5 {font-size:40px;}
	.ft_smt {font-size:40px;}
}


@media (max-width: 768px){
	.mft_s0 {font-size:18px !important; font-weight:300 !important;}

	.mf_s0 {font-size:11px !important;}
	.mf_s3 {font-size:14px !important;}
}

.f_c_b {color:#000000;}
.f_c_w {color:#ffffff;}
.f_c_g1 {color:#3d3d3d;} 
.f_c_g2 {color:#666666;}
.f_c_g3 {color:#a3a3a3;}
.f_c_g4 {color:#999999;}
.f_c_g5 {color:#aeaeae;}
.f_c_g6 {color:#222222;}
.f_c_active {color:#017571;}
.f_c_active2 {color:#4a4475}
.f_c_active3 {color:#0599d9;}
.f_c_active4 {color:#003d70;}
.f_c_br1 {color:#B28B80;}

.le_s1 {letter-spacing: -1px;}
.le_s2 {letter-spacing: -2px;}
.le_s3 {letter-spacing: -3px;}

.border-dbdbdb {border-color:#dbdbdb;}
.border-e0e0e0 {border-color:#e0e0e0;}
.border-3d3d3d {border-color:#3d3d3d;}

.background-ffffff {background-color:#fff;}
.background-f2f2f2 {background-color:#f2f2f2;}
.background-f8f8f8 {background-color:#f8f8f8;}
.background-000000 {background-color:#000;}

.rounded_10 {border-radius:10px;}
.rounded_15 {border-radius:15px;}
.rounded_30 {border-radius:30px;}
.rounded_50 {border-radius:50px;}

.fl_end {align-items: flex-end; display: flex;}
.jc_end {justify-content: flex-end;}
.jc_c {justify-content: center;}

.f_wrap {flex-wrap:wrap;}

.text-right {text-align:right;}

.float-right {float:right;}

.text-over-h {white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}

.ml_5 {margin-left:5px;}
.ml_10 {margin-left:10px;}
.ml_15 {margin-left:15px;}

.mr_10 {margin-right:10px;}
.mr_15 {margin-right:15px;}
.mr_30 {margin-right:30px;}

.mb_5 {margin-bottom:5px;}
.mb_10 {margin-bottom:10px;}
.mb_15 {margin-bottom:15px;}
.mb_20 {margin-bottom:20px;}
.mb_25 {margin-bottom:25px;}
.mb_30 {margin-bottom:30px;}
.mb_35 {margin-bottom:35px;}
.mb_40 {margin-bottom:40px;}
.mb_50 {margin-bottom:50px;}
.mb_60 {margin-bottom:60px;}
.mb_70 {margin-bottom:70px;}
.mb_80 {margin-bottom:80px;}
.mb_100 {margin-bottom:100px;}
.mb_150 {margin-bottom:150px;}

.pt_10 {padding-top:10px;}
.pt_20 {padding-top:20px;}
.pt_30 {padding-top:30px;}
.pt_50 {padding-top:50px;}

.pb_10 {padding-bottom:10px;}
.pb_40 {padding-bottom:40px;}
.pb_50 {padding-bottom:50px;}

.pr_20 {padding-right:20px;}
.pr_30 {padding-right:30px;}
.pr_40 {padding-right:40px;}

.pl_30 {padding-left:30px;}

.p_10 {padding:10px;}

.m_w-100 {max-width:100%;}

.lh_25  {line-height:25px;}

.search_select {width:110px; line-height:45px; padding:0 15px; background:url(../img/select_bg.png) right 15px center no-repeat; border:1px solid #dbdbdb;}

@media (min-width: 1100px){
	.container {width:1100px;}
}

@media (min-width: 996px){
	.pc-none {display:none;}
}

@media (min-width: 768px){
	.mb_md-20 {margin-bottom:20px;}
	.mb_md-25 {margin-bottom:25px;}
}

a {color:#000;}
a:hover {color:#034EA2;}
p {margin:0;}


@media (max-width: 996px){
	.m-none {display:none;}

	.ml_10 {margin-left:5px;}
	.ml_15 {margin-left:7.5px;}

	.mr_10 {margin-right:5px;}
	.mr_15 {margin-right:7.5px;}
	.mr_30 {margin-right:15px;}

	.mb_10 {margin-bottom:5px;}
	.mb_15 {margin-bottom:7.5px;}
	.mb_20 {margin-bottom:10px;}
	.mb_25 {margin-bottom:12.5px;}
	.mb_30 {margin-bottom:15px;}
	.mb_35 {margin-bottom:17.5px;}
	.mb_40 {margin-bottom:20px;}
	.mb_50 {margin-bottom:25px;}
	.mb_60 {margin-bottom:30px;}
	.mb_70 {margin-bottom:35px;}
	.mb_80 {margin-bottom:40px;}
	.mb_100 {margin-bottom:50px;}
	.mb_150 {margin-bottom:75px;}

	.pt_20 {padding-top:10px;}
	.pt_30 {padding-top:15px;}
	.pt_50 {padding-top:25px;}

	.pb_40 {padding-bottom:20px;}
	.pb_50 {padding-bottom:25px;}
}