/* Block: kseta-video */
.kseta-video {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

/* Element: kseta-video__media */
.kseta-video__media {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

.kseta-video__media video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Element: kseta-video__overlay */
.kseta-video__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
}


/* Element: kseta-video__content */
.kseta-video__content {
    color: white;
    max-width: 650px;
    width: 100%;
}

/* Element: kseta-video__title */
.kseta-video__title {
    font-size: 3em;
    margin-bottom: 20px;
    line-height: 1.2;
}

/* Element: kseta-video__description */
.kseta-video__description {
    font-size: 1.3em;
    margin-bottom: 30px;
    line-height: 1.6;
}

/* Element: kseta-video__button */
.kseta-video__button {
    display: inline-block;
    padding: 15px 30px;
    background: white;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
    transition: background-color 0.3s;
}

/* Modifier: kseta-video__button--hover */
.kseta-video__button:hover {
    background: rgba(255, 255, 255, 0.9);
}

/* Large screens */
@media (min-width: 1200px) {
    .kseta-video__overlay {
        padding: 0 10%;
    }

    kseta-video__media {
        object-fit: contain;
    }
}

/* Medium screens */
@media (max-width: 1024px) {
    .kseta-video__overlay {
        padding: 0 6%;
    }

    .kseta-video__content {
        max-width: 550px;
    }

    .kseta-video__title {
        font-size: 2.8em;
    }

    kseta-video__media {
        object-fit: contain;
    }
}

/* Tablet */
@media (max-width: 768px) {
    kseta-video__media {
        object-fit: contain;
    }

    .kseta-video {
        height: 50vh; /* 모바일에서는 화면 높이의 50%로 설정 */
    }

    .kseta-video__overlay {
        padding: 0 5%;
    }

    .kseta-video__content {
        max-width: 100%;
    }

    .kseta-video__title {
        font-size: 1.5em;
    }

    .kseta-video__description {
        font-size: 1.2em;
    }

    .kseta-video__button {
        padding: 12px 25px;
        font-size: 1em;
    }
}

/* Mobile */
@media (max-width: 576px) {
    /*.kseta-video {*/
    /*    height: 50vh; !* 모바일에서는 화면 높이의 50%로 설정 *!*/
    /*}*/
    .kseta-video__overlay {
        padding: 0 4%;
        align-items: center;
        padding-bottom: 15%;
    }

    .kseta-video__title {
        font-size: 1.5em;
        margin-bottom: 15px;
    }

    .kseta-video__description {
        font-size: 0.8em;
        margin-bottom: 20px;
    }

    .kseta-video__button {
        padding: 10px 20px;
    }
}
