@charset "utf-8";
@import url(root.css);
@import url(reset.css);
@import url(kseta_card_02.css);
@import url(kseta_Introduction.css);
@import url(kseta_expect.css);
@import url(kseta_location.css);
@import url(kseta_logo.css);
@import url(kseta_footer.css);
@import url(footer.css);
@import url(kseta_org.css);
@import url(kseta_breadcrumb.css);
@import url(kseta_header.css);
@import url(kseta_slide.css);
@import url(kseta_certificate.css);
@import url(kseta_video.css);
@import url(kseta_greet.css);
@import url(kseta_business.css);
@import url(kseta_project.css);
@import url(kseta_qualification.css);
@import url(kseta-effect.css);
@import url(kseta-casa.css);
@import url(kseta_sidebanner.css);
@import url(kseta_history.css);

section[id] {
    scroll-margin-top: 70px; /* 헤더와의 간격 조정 */
}

.kseta-main {
    position: relative;
    z-index: 2;
    background-color: var(--background-main);
    padding-top: 80px;
}

footer {
    position: relative;
    z-index: 2; /* 비디오 섹션보다 높은 z-index */
}

@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* 기본 스타일 */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Pretendard', sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f8f9fa;
!important;
    line-height: 1.6;
}


/* 박스 크기 설정 */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 텍스트 스타일 */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Pretendard', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    /*margin-bottom: 15px;*/
}

/* 링크 스타일 */
a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #0d6efd;
}

/* 리스트 스타일 */
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* 폼 요소 스타일 */
input, button, textarea, select {
    font: inherit;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

button {
    cursor: pointer;
    background-color: #0d6efd;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #084298;
}

/* 반응형 이미지 설정 */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* 기본 컨테이너 설정 */
.kseta-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

