<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta property="og:image" content="http://gdicland.com/assets/img/m1_1_planning_img1.jpg">
	<title>김해대동첨단산업단지㈜</title>
	<link rel="stylesheet" th:href="@{/assets/css/gdic_style_v1.1.css}">
	<script th:src="@{/assets/js/jquery.min.js}"></script>
	<script th:src="@{/assets/js/slick.min.js}"></script>
	<script th:src="@{/assets/js/gdic_v1.1.js}"></script>
	<script>
		$(function(){
			$('#gdic_header').html(gdic_header);
			$('#gdic_footer').html(gdic_footer);
			footer_slide_on();
			$('.main_popup').addClass('show');
		})
	</script>
	</head>	

	
	<body id="gdic_main">
		<header id="gdic_header">
			
		</header>
		
		<section id="gdic_body">
			<div class="sub_top">
				<div class="container">
					<div class="row">
						<div class="col">
							
						</div>
					</div>
				</div>
			</div>

			<div class="m_p1">
				<div class="container">
					<div class="row mb_50">
						<div class="col">
							<ul class="sub_nav_list f_s0">
								<li>홈</li>
								<li>사업안내</li>
								<li>용지별 공급 정보</li>
							</ul>
						</div>
					</div>

					<div class="row mb_50">
						<div class="col">
							<div class="sub_pagetitle">
								<h2 class="ft_s5">공급 정보</h2>
								<p class="f_c_g2">김해대동첨단산업단지㈜ 일반시설용지의 용지별 면적 및 대금납부 방법을 보실 수 있습니다.</p>
							</div>
						</div>
					</div>


					<div class="row mb_50">
						<div class="col">
							<div><img th:src="@{/assets/img/m3_2_img1_v2.jpg}" class="w-100" /></div>
						</div>
					</div>

					<div class="row mb_50">
						<div class="col">
							<h3 class="gdic_h3 ft_s3 fw_psb mb_20">용지면적</h3>

							<table class="gdic_table_style1 w-100 f_s3 f_c_g1 mb_10 line text-center">
								<colgroup>
									<col width="25%">
									<col width="25%">
									<col width="25%">
									<col width="25%">
								</colgroup>
								<thead>
								<tr>
									<th class="type2">구분</th>
									<th class="type2">면적(m²)</th>
									<th class="type2">면적(3.3m²)</th>
									<th class="type2">구성비(%)</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<th class="type2">합계</th>
									<td>2,803,758</td>
									<td>2,803,758</td>
									<td>100%</td>
								</tr>

								<tr>
									<th class="type2">산업시설용지</th>
									<td>1,118,590</td>
									<td>338,373</td>
									<td>39.9%</td>
								</tr>

								<tr>
									<th>산업시설</th>
									<td>1,100,593</td>
									<td>332,929</td>
									<td>39.3%</td>
								</tr>

								<tr>
									<th>산업시설용지</th>
									<td>17,997</td>
									<td>5,444</td>
									<td>0.6%</td>
								</tr>

								<tr>
									<th class="type2">복합용지</th>
									<td>192,267</td>
									<td>58,161</td>
									<td>6.9%</td>
								</tr>

								<tr>
									<th class="type2">주거용지</th>
									<td>131,353</td>
									<td>39,734</td>
									<td>4.7%</td>
								</tr>

								<tr>
									<th>근린생활시설</th>
									<td>25,278</td>
									<td>7,647</td>
									<td>0.9%</td>
								</tr>

								<tr>
									<th>공동주택</th>
									<td>66,131</td>
									<td>20,005</td>
									<td>2.4%</td>
								</tr>

								<tr>
									<th>단독주택</th>
									<td>39,944</td>
									<td>12,083</td>
									<td>1.4%</td>
								</tr>

								<tr>
									<th class="type2">지원시설용지</th>
									<td>42,444</td>
									<td>12,839</td>
									<td>1.5%</td>
								</tr>

								<tr>
									<th class="type2">공공시설용지</th>
									<td>1,319,104</td>
									<td>399,029</td>
									<td>47.0%</td>
								</tr>

								<tr>
									<th>도로</th>
									<td>513,674</td>
									<td>155,386</td>
									<td>18.3%</td>
								</tr>

								<tr>
									<th>주차장</th>
									<td>45,450</td>
									<td>13,749</td>
									<td>1.6%</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="row">
						<div class="col">
							<h3 class="gdic_h3 ft_s3 fw_psb mb_20">대금 납부조건</h3>

							<p class="mb_10 f_s4">가. 분양대금 납부조건</p>
							<table class="gdic_table_style1 w-100 f_s3 f_c_g1 mb_20 line text-center">
								<colgroup>
									<col width="16%">
									<col width="16%">
									<col width="16%">

									<col width="16%">
									<col width="16%">
									<col width="20%">
								</colgroup>
								<thead>
								<tr>
									<th class="type2">구분</th>
									<th class="type2">계약금</th>
									<th class="type2">중도금 1차</th>
									<th class="type2">중도금 2차</th>
									<th class="type2">잔금</th>
									<th class="type2">비고</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<th class="type2" >납부비율</th>
									<td>10%</td>
									<td>40%</td>
									<td>40%</td>
									<td>10%</td>
									<td rowspan="2">
										[중도금대출 조건] <br />
										-중도금대출 은행 알선 <br />
										-중도금대출 유이자
									</td>
								</tr>

								<tr>
									<th class="type2" >납부기한</th>
									<td>계약일</td>
									<td>계약일로부터 <br />2개월 후</td>
									<td>중도금 1차일로 부터 <br />2개월 후</td>
									<td>사업준공일로부터 <br />1개월 후</td>
								</tr>
								</tbody>
							</table>

							<p class="mb_10 f_s4">나. 분양대금 납부조건</p>
							<ul>
								<li>- 분양대금의 납부는 계약금, 중도금, 잔금의 순서로 시행사에서 지정한 계좌에 납부하여야 합니다.</li>
								<li>- 지연손해금(연체이자율) : 할부원금을 납부약정일에 납부하지 않을 경우 납부 약정일 익일부터 실제 납부일까지 연체금액에 대하여 연 14.0%의 이율을 적용하여 산정한 지연손해금을 납부하셔야 합니다.</li>
							</ul>
						</div>
					</div>

					<div class="row">
						<div class="col">
							<div><img th:src="@{/assets/img/m3_2_img4.jpg}" class="w-100" /></div>
						</div>
					</div>

					<div class="row">
						<div class="col">
							<div><img th:src="@{/assets/img/m3_2_img6.jpg}" class="w-100" /></div>
						</div>
					</div>
					<!--

                                        <div class="row mb_50">
                                            <div class="col">
                                                <ul class="gdic_sub_tab tab3">
                                                    <li class="active"><a href="/supply/informationByPaper">산업시설용지</a></li>
                                                    <li><a href="/supply/informationByPaper2">복합시설용지</a></li>
                                                    <li><a href="/supply/informationByPaper3">일반시설용지</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                                            <div class="row mb_30">
                                                                <div class="col">
                                                                    <div><img th:src="@{/assets/img/m3_2_img1.jpg}" class="w-100" /></div>
                                                                    <div><img th:src="@{/assets/img/m3_2_img2.jpg}" class="w-100" /></div>
                                                                    <div><img th:src="@{/assets/img/m3_2_img3.jpg}" class="w-100" /></div>
                                                                    <div><img th:src="@{/assets/img/m3_2_img5.jpg}" class="w-100" /></div>
                                                                </div>
                                                            </div>
                                        -->
                                        <!--
                                        <div class="row mb_30">
                                            <div class="col">
                                                <div><img src="assets/img/m3_2_sale02_img1.jpg" class="w-100" /></div>
                                            </div>
                                        </div>

                                        <div class="row mb_50">
                                            <div class="col">
                                                <h3 class="gdic_h3 ft_s3 fw_psb mb_20">입주자격</h3>

                                                <p class="f_c_g2 f_s3">「산업입지 및 개발에 관한 법률」 시행령 제 42조 3에 4항에 근거하여 공급자인 관리단(조합)에 산업시설용지매입을 목적으로 출자를 하고<br />
                                                「산업집적활성화 및 공장설립에 관한 법률」 제 2조 및 동법 시행령 제 6조에 의거하여 입주자격을 갖추어 대상 사업지 관리 기본 계획 및 입주대상업종에 부합하는 업체</p>
                                            </div>
                                        </div>

                                        <div class="row mb_50">
                                            <div class="col">
                                                <h3 class="gdic_h3 ft_s3 fw_psb mb_20">입주대상업종</h3>

                                                <ul class="gdic_sub_list4">
                                                    <li>
                                                        <div class="img_box">
                                                            <img src="assets/img/m3_2_sale02_img2.jpg">
                                                        </div>
                                                        <div class="text_box">
                                                            <p class="title f_s5 fw_psb">신소재 및 신재생 에너지</p>
                                                            <ul class="f_c_g2 f_s1">
                                                                <li>C20 화학물질 및 화학제품 제조업(의약품 제외)</li>
                                                                <li>C21 의료용 물질 및 의약품 제조업</li>
                                                                <li>C22 고무 및 플라스틱제품 제조업</li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="img_box">
                                                            <img src="assets/img/m3_2_sale02_img3.jpg">
                                                        </div>
                                                        <div class="text_box">
                                                            <p class="title f_s5 fw_psb">첨단정밀기계 원료 및 관련부품</p>
                                                            <ul class="f_c_g2 f_s1">
                                                                <li>C24 1차 금속제조업</li>
                                                                <li>C25 금속가공제품제조업(기계 및 가구제외)</li>
                                                                <li>C29 기타 기계 및 장비 제조업</li>
                                                                <li>C30 자동차 및 트레일러 제조업</li>
                                                                <li>C31 기타 운송장비제조업</li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="img_box">
                                                            <img src="assets/img/m3_2_sale02_img4.jpg">
                                                        </div>
                                                        <div class="text_box">
                                                            <p class="title f_s5 fw_psb">첨단전자장비 / 침정밀광학기기</p>
                                                            <ul class="f_c_g2 f_s1">
                                                                <li>C26 전자부품 / 컴퓨터 / 영상 / 음향 및 <br /> <span class="mr_30"></span>통신장비 제조업</li>
                                                                <li>C27 의료 / 정밀 / 광학기기 및 시계 제조업</li>
                                                                <li>C28 전기장비 제조업</li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="img_box">
                                                            <img src="assets/img/m3_2_sale02_img5.jpg">
                                                        </div>
                                                        <div class="text_box">
                                                            <p class="title f_s5 fw_psb">지식기반 서비스업</p>
                                                            <ul class="f_c_g2 f_s1">
                                                                <li>M70 연구개발업</li>
                                                                <li>M72 엔지니어링 및 기타 과학기술 서비스업</li>
                                                                <li>M73 기타 전문/과학 및 기술 서비스업</li>
                                                                <li>P 85 교육 서비스업</li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>

                                                <p class="f_c_g2 f_s1 le_s1">
                                                    ※ 상기의 입주대상업종은 산업단지 계획수립 / 산업단지 관리기본계획 및 유관기관과의 인허가 과정에서 일부 변경될 수 있습니다. <br />
                                                    ※ 업종별 숫자는 한국표준산업분류 중분류 번호로서 통계청 인터넷 홈페이지의 <span class="f_c_active2 fw_psb">통계표준분류(표준산업분류)</span>를 참조하여 업종을 확인하시기 바랍니다. (통계표준분류(표준산업분류) 클릭하시면 바로 이동이 가능합니다.)
                                                </p>
                                            </div>
                                        </div>

                                        <div class="row mb_50">
                                            <div class="col">
                                                <h3 class="gdic_h3 ft_s3 fw_psb mb_20">공급가격 및 단가</h3>

                                                <table class="gdic_table_style1 w-100 f_s3 f_c_g1 mb_10 line text-center">
                                                    <colgroup>
                                                        <col width="25%">
                                                        <col width="25%">
                                                        <col width="25%">
                                                        <col width="25%">
                                                    </colgroup>
                                                    <thead>
                                                        <tr>
                                                            <th class="type2">구분</th>
                                                            <th class="type2">면적(m²)</th>
                                                            <th class="type2">건폐율(%)</th>
                                                            <th class="type2">용적률(%)</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>산업시설용지</td>
                                                            <td>1,075,627</td>
                                                            <td>70</td>
                                                            <td>300</td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>


                                        <div class="row mb_50">
                                            <div class="col">
                                                <h3 class="gdic_h3 ft_s3 fw_psb mb_20">대금납부일정</h3>

                                                <table class="gdic_table_style1 w-100 f_s3 f_c_g1 mb_10 line text-center">
                                                    <colgroup>
                                                        <col width="12.5%">
                                                        <col width="12.5%">
                                                        <col width="12.5%">
                                                        <col width="12.5%">

                                                        <col width="12.5%">
                                                        <col width="12.5%">
                                                        <col width="12.5%">
                                                        <col width="12.5%">
                                                    </colgroup>
                                                    <thead>
                                                        <tr>
                                                            <th class="type2">구분</th>
                                                            <th class="type2" colspan="2">계약금10%</th>
                                                            <th class="type2" colspan="4">중도금80%</th>
                                                            <th class="type2">잔금10%</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>납부시기</td>
                                                            <td>공급계약시</td>
                                                            <td>용지매매계약시</td>
                                                            <td>1차</td>
                                                            <td>2차</td>
                                                            <td>3차</td>
                                                            <td>4차</td>
                                                            <td>공사준공일<br />15일 이내</td>
                                                        </tr>
                                                        <tr>
                                                            <td>비율</td>
                                                            <td>5%</td>
                                                            <td>5%</td>
                                                            <td>20%</td>
                                                            <td>20%</td>
                                                            <td>20%</td>
                                                            <td>20%</td>
                                                            <td>10%</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="row mb_50">
                                            <div class="col">
                                                <h3 class="gdic_h3 ft_s3 fw_psb mb_20">토지사용시기 및 소유권이전</h3>

                                                <ul class="f_s3 f_c_G2">
                                                    <li>ㆍ준공 전 토지사용 : 토지사용 가능시기 이후 (2021년 상반기 ~ 2022년 하반기 필지별로 상이함) 공급대금을 완납하거나 미납 잔대금에 대하여 금융기관의 지급보증 또는 <br />
                                                    <span class="mr_30"></span><span class="mr_30"></span><span class="mr_30"></span><span class="mr_30"></span>보증보험기관의 이행보험증권을 제출한 경우에는 토지사용신청이 가능하며 산업단지 사업시행자의 사용허가 후 토지사용이 가능하다.</li>
                                                    <li>ㆍ소유권이전 : 공급대금 전액을 납부하시고 사업준공에 따른 지적 및 등기공부정리를 완료한 후(2023년 하반기) 가능합니다.</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="row mb_50">
                                            <div class="col">
                                                <h3 class="gdic_h3 ft_s3 fw_psb mb_20">중도금 대출관련</h3>

                                                <ul class="f_s3 f_c_g2 mb_30">
                                                    <li>ㆍ긍융협력(중도금 대출협약)이 된 시중 은행 전 지점에서 중도금 및 잔금 대출이 가능합니다.</li>
                                                </ul>

                                                <ul class="gdic_sub_list1 tab3 f_s4 mb_30">
                                                    <li>
                                                        <div>공공부문</div>
                                                        <div class="f_c_g2">공급금액의 10%이상 난입한 자</div>
                                                    </li>
                                                    <li>
                                                        <div>대출은행</div>
                                                        <div class="f_c_g2">부산은행 / 경남은행 / 기업은행 / 신한은행 <br />농협 / 우리은행 / 국민은행 / 산업은행 등</div>
                                                    </li>
                                                    <li>
                                                        <div>대출금액</div>
                                                        <div class="f_c_g2">중도금 및 잔금 100%</div>
                                                    </li>
                                                </ul>
                                                <ul class="gdic_sub_list1 tab2 f_s4 mb_10">
                                                    <li>
                                                        <div>대출금리</div>
                                                        <div class="f_c_g2">연 2.9% ~ 4.9% (신용평가등급에 따라 변동가능)</div>
                                                    </li>
                                                    <li>
                                                        <div>대출기간</div>
                                                        <div class="f_c_g2">소유권 이전일까지(소유권 이전 후 시설대 승계)</div>
                                                    </li>
                                                </ul>

                                                <p class="f_c_g2 f_s0 mb_20">※ 상기의 내용은 관련기관과의 협의에 의해 일부 조정/변경될 수 있습니다.</p>
                                                <p class="f_c_g2 f_s0">① 본 웹사이트에 사용된 이미지 컷은 소비자 이해를 돕기 위해 제작된 것으로 실제와 다를 수 있습니다.</p>
                                            </div>
                                        </div>
                                        -->
				</div>
			</div>
		</section>

		<footer id="gdic_footer">
			
		</footer>
	</body>
</html>