<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta property="og:image" content="http://gdicland.com/assets/img/m1_1_planning_img1.jpg">
	<title>김해대동첨단산업단지㈜</title>
	<link rel="stylesheet" th:href="@{/assets/css/gdic_style_v1.1.css}">
	<script th:src="@{/assets/js/jquery.min.js}"></script>
	<script th:src="@{/assets/js/slick.min.js}"></script>
	<script th:src="@{/assets/js/gdic_v1.1.js}"></script>
	<script>
		$(function(){
			$('#gdic_header').html(gdic_header);
			$('#gdic_footer').html(gdic_footer);
			footer_slide_on();
			$('.main_popup').addClass('show');
		})
	</script>
	</head>	

	
	<body id="gdic_main">
		<header id="gdic_header">
			
		</header>
		
		<section id="gdic_body">
			<div class="sub_top">
				<div class="container">
					<div class="row">
						<div class="col">
							
						</div>
					</div>
				</div>
			</div>

			<div class="m_p1">
				<div class="container">
					<div class="row mb_50">
						<div class="col">
							<ul class="sub_nav_list f_s0">
								<li>홈</li>
								<li>사업안내</li>
								<li>회사소개</li>
							</ul>
						</div>
					</div>

					<div class="row mb_50">
						<div class="col">
							<div class="sub_pagetitle">
								<h2 class="ft_s5">회사소개</h2>
								<p class="f_c_g2">경남의 가치를 높이는 힘! 김해대동첨단산업단지㈜</p>
							</div>
						</div>
					</div>

					<div class="row mb_100">
						<div class="col">
							<div class="d-flex m5_1_style1 mb_20">
								<div>
									<img th:src="@{/assets/img/m5_2_company_img1.jpg}" class="w-100">
								</div>
								<div>
									<h3 class="gdic_h3 ft_s3 mb_20">회사개요</h3>
									<ul class="mb_30 f_c_g2 gdic_sub_list5 f_s4">
										<li>
											<p class="title_box">회사명</p>
											<p>김해대동첨단산업단지주식회사</p>
										</li>
										<li>
											<p class="title_box">설립 일자</p>
											<p>2015.03.18</p>
										</li>
										<li>
											<p class="title_box">주소지</p>
											<p>경상남도 김해시 경원로 73번길 15, 2층</p>
										</li>
										<li>
											<p class="title_box">설립목적</p>
											<p>김해대동첨단산업단지 조성 및 공급</p>
										</li>
									</ul>

									<h3 class="gdic_h3 ft_s3 mb_20">출자구성</h3>
									<div class="d-flex text-center">
										<div class="w-50">
											<p>공공부문(51%)</p>j
											<p class="f_s2 f_c_g2 mb_20">공공성 확보 및 단지계획승인</p>

											<div><img th:src="@{/assets/img/m5_2_company_img2.jpg}"></div>
										</div>
										<div class="w-50">
											<p>민간부문(49%)</p>
											<p class="f_s2 f_c_g2 mb_20">재원조달 및 단지조성</p>

											<div><img th:src="@{/assets/img/m5_2_company_img3.jpg}"></div>
										</div>										
									</div>
								</div>
							</div>
							<p class="f_s0 f_c_g2">① 본 웹사이트의 이미지 컷은 소비자의 이해를 돕기 위한 것이므로 실제와 차이가 있습니다.</p>
						</div>
					</div>


					<div class="row mb_50">
						<div class="col">
							<div class="sub_pagetitle">
								<h2 class="ft_s5">오시는 길</h2>
								<p class="f_c_g2">김해대동첨단산업단지와 김해대동첨단산업단지 사업관리단 위치를 보실 수 있습니다.</p>
							</div>
						</div>
					</div>

					<div class="row row-cols-2">
						<div class="col">
							<div class="mb_30 text-center"><img th:src="@{/assets/img/분양홍보관.svg}"></div>
							<div class="w-100"><img th:src="@{/assets/img/지도.svg}"></div>
							<p class="gdic_map_text1 mb_10">경상남도 김해시 대동면 조눌리 185-2</p>
							<div class="d-flex justify-content-between align-items-center">
								<ul class="d-flex f_s1">
									<li class="mr_15"><span class="fw_psb f_s3">TEL</span> 1577-9333</li>
									<li class="mr_15"><span class="fw_psb f_s3">FAX</span> 051 501 4003</li>
									<li><span class="fw_psb f_s3">URL</span> www.ksindustry.kr</li>
								</ul>
								<div>
<!--									<a :href="https://map.kakao.com/?map_type=TYPE_MAP&q=%EB%B6%80%EC%82%B0%EA%B4%91%EC%97%AD%EC%8B%9C+%EB%8F%99%EB%9E%98%EA%B5%AC+%EC%95%84%EC%8B%9C%EC%95%84%EB%93%9C%EB%8C%80%EB%A1%9C+154%EB%B2%88%EA%B8%B8+89&urlX=971308&urlY=478002&urlLevel=3}" target="_blank" class="gdic_map_btn1 f_s1">자세히보기</a>-->
								</div>
							</div>
						</div>
						<div class="col">
							<div class="mb_30 text-center"><img th:src="@{/assets/img/김해대동로고.png} "></div>
							<div class="w-100"><img th:src="@{/assets/img/지도2.svg}"></div>
							<p class="gdic_map_text1 mb_10">경상남도 김해시 경원로 73번길 15, 2층</p>
							<div class="d-flex justify-content-between align-items-center">
								<ul class="d-flex f_s1">
									<li class="mr_15"><span class="fw_psb f_s3">TEL</span> 055 329 0460</li>
									<li class="mr_15"><span class="fw_psb f_s3">FAX</span> 055 329 0463</li>
								</ul>
								<div>
<!--									<a href="https://map.kakao.com/?map_type=TYPE_MAP&q=%EA%B2%BD%EB%82%A8+%EA%B9%80%ED%95%B4%EC%8B%9C+%EA%B2%BD%EC%9B%90%EB%A1%9C73%EB%B2%88%EA%B8%B8+15&urlLevel=3&urlX=925132&urlY=487845}" target="_blank" class="gdic_map_btn1 f_s1">자세히보기</a>-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<footer id="gdic_footer">
			
		</footer>
	</body>

</html>