<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="http://gdicland.com/assets/img/m1_1_planning_img1.jpg" property="og:image">
    <title>김해대동첨단산업단지㈜</title>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <script th:src="@{/assets/js/jquery.min.js}"></script>
    <script th:src="@{/assets/js/slick.min.js}"></script>
    <script th:src="@{/assets/js/gdic_v1.1.js}"></script>
    <script>
        $(function () {
            $('#gdic_header').html(gdic_header);
            $('#gdic_footer').html(gdic_footer);
            footer_slide_on();
            $('.main_popup').addClass('show');
        })
    </script>
</head>


<body id="gdic_main">
<header id="gdic_header">

</header>

<section id="gdic_body">
    <div class="sub_top">
        <div class="container">
            <div class="row">
                <div class="col">

                </div>
            </div>
        </div>
    </div>

    <div class="container m5_3_bg1">
        <div class="m_p1 m5_3_bg1">
            <div class="row mb_50">
                <div class="col">
                    <ul class="sub_nav_list f_s0">
                        <li>홈</li>
                        <li>사업안내</li>
                        <li>사업개요</li>
                    </ul>
                </div>
            </div>

            <div class="row mb_50">
                <div class="col">
                    <div class="sub_pagetitle">
                        <h2 class="ft_s5">협력기관</h2>
                        <p class="f_c_g2">김해대동첨단산업단지㈜의 협력기관을 보실 수 있습니다.</p>
                    </div>
                </div>
            </div>

            <div class="row mb_50">
                <div class="col">
                    <h3 class="gdic_h3 ft_s3 mb_20">출자구성</h3>
                    <ul class="d-flex">
                        <li class="mr_30">
                            <div class="company03_button">
                                <a href="http://www.gimhae.go.kr/main/" style="color:#fff;" target="_blank">
                                    <div>바로가기</div>
                                </a>
                                <div><img alt="" th:src="@{/assets/img/m5_3_company_logo1.png}"></div>
                            </div>
                        </li>
                        <li class="mr_30">
                            <div class="company03_button">
                                <a href="http://ghdc.or.kr/" style="color:#fff;" target="_blank">
                                    <div>바로가기</div>
                                </a>
                                <div><img alt="" th:src="@{/assets/img/m5_3_company_logo2.png}"></div>
                            </div>
                        </li>
                        <li>
                            <div class="company03_button">
                                <a href="http://www.kab.co.kr/kab/home/main/main.jsp" style="color:#fff;"
                                   target="_blank">
                                    <div>바로가기</div>
                                </a>
                                <div><img alt="" th:src="@{/assets/img/m5_3_company_logo3.png}"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row mb_50">
                <div class="col">
                    <h3 class="gdic_h3 ft_s3 mb_20">건설사</h3>
                    <ul class="d-flex">
                        <li class="mr_30">
                            <div class="company03_button">
                                <a href="https://www.taeyoung.com/" style="color:#fff;" target="_blank">
                                    <div>바로가기</div>
                                </a>
                                <div><img alt="" th:src="@{/assets/img/m5_3_company_logo4.png}"></div>
                            </div>
                        </li>
                        <li>
                            <div class="company03_button">
                                <a href="http://www.daezer.co.kr/" style="color:#fff;" target="_blank">
                                    <div>바로가기</div>
                                </a>
                                <div><img alt="" th:src="@{/assets/img/m5_3_company_logo5.png}"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row mb_50">
                <div class="col">
                    <h3 class="gdic_h3 ft_s3 mb_20">금융기관</h3>

                    <ul class="d-flex mb_20">
                        <li class="mr_30">
                            <div class="company03_button">
                                <a href="https://www.busanbank.co.kr/ib20/mnu/BHP00001" style="color:#fff;"
                                   target="_blank">
                                    <div>바로가기</div>
                                </a>
                                <div><img alt="" th:src="@{/assets/img/m5_3_company_logo7.png}"></div>
                            </div>
                        </li>
                        <li>
                            <div class="company03_button">
                                <a href="https://www.knbank.co.kr/ib20/mnu/BHP000000000001" style="color:#fff;"
                                   target="_blank">
                                    <div>바로가기</div>
                                </a>
                                <div><img alt="" th:src="@{/assets/img/m5_3_company_logo8.png}"></div>
                            </div>
                        </li>
                    </ul>

                    <p class="f_c_g2">※ 로고를 클릭하시면 홈페이지로 연결됩니다.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<footer id="gdic_footer">

</footer>
</body>
</html>