<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <title>Kseta</title>

    <!-- 스타일 시트 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--    <link rel="stylesheet" th:href="@{/assets/css/style.css?v={version}(version=${#dates.createNow().time})}">-->
    <!--    <link rel="stylesheet" th:href="@{/assets/css/style.css}">-->

    <link href="/assets/css/style.css" rel="stylesheet">

    <!-- 스크립트 -->
    <!--    <script th:src="@{/assets/js/jquery.min.js}"></script>-->
    <script th:src="@{/assets/js/slick.min.js}"></script>
    <script th:src="@{/assets/js/main.js}"></script>
</head>

<body>
<header class="kseta-header">
    <!-- 상단 인증 영역 -->
    <div class="kseta-header__top">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="kseta-header__auth">
                        <a class="kseta-header__auth-link" href="#">회원가입</a>
                        <a class="kseta-header__auth-link" href="#">로그인</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 메인 헤더 영역 -->
    <div class="kseta-header__main">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center">
                        <!-- 로고 영역 -->
                        <h1 class="kseta-header__logo-wrap">
                            <a class="kseta-header__logo-link" href="/">
                                <img alt="KSETA 로고" class="kseta-header__logo" src="/assets/img/kseta_rogo.png">
                            </a>
                        </h1>

                        <!-- 네비게이션 영역 -->
                        <nav class="kseta-header__nav">
                            <!-- 모바일 토글 버튼 -->
                            <button class="kseta-header__toggler d-lg-none" type="button">
                                <i class="fas fa-bars"></i>
                            </button>

                            <!-- 메인 메뉴 -->
                            <ul class="kseta-header__menu">
                                <li class="kseta-header__menu-item">
                                    <a class="kseta-header__menu-link" href="#">협회소개</a>
                                    <ul class="kseta-header__submenu">
                                        <li class="kseta-header__submenu-item">
                                            <a class="kseta-header__submenu-link" href="/kseta/greeting">인사말</a>
                                        </li>
                                        <li class="kseta-header__submenu-item">
                                            <a class="kseta-header__submenu-link" href="/kseta/org">조직도</a>
                                        </li>
                                        <li class="kseta-header__submenu-item">
                                            <a class="kseta-header__submenu-link" href="/kseta/location">오시는 길</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="kseta-header__menu-item">
                                    <a class="kseta-header__menu-link" href="#">융합교육</a>
                                    <ul class="kseta-header__submenu">
                                        <li class="kseta-header__submenu-item">
                                            <a class="kseta-header__submenu-link" href="/kseta/business-goal">사업목표</a>
                                        </li>
                                        <li class="kseta-header__submenu-item">
                                            <a class="kseta-header__submenu-link" href="/kseta/project">추진사업</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="kseta-header__menu-item">
                                    <a class="kseta-header__menu-link" href="#">자격검정</a>
                                    <ul class="kseta-header__submenu">
                                        <li class="kseta-header__submenu-item">
                                            <a class="kseta-header__submenu-link" href="/kseta/qualification-bigdata">빅데이터
                                                전문가</a>
                                        </li>
                                        <li class="kseta-header__submenu-item">
                                            <a class="kseta-header__submenu-link" href="/kseta/qualification-ai">인공지능
                                                마스터</a>
                                        </li>
                                        <li class="kseta-header__submenu-item">
                                            <a class="kseta-header__submenu-link" href="/kseta/certificate">자격증 발급</a>
                                        </li>
                                        <li class="kseta-header__submenu-item">
                                            <a class="kseta-header__submenu-link" href="#">시험접수</a>
                                        </li>
                                    </ul>
                                </li>
                                <!--                                <li class="kseta-header__menu-item">-->
                                <!--                                    <a class="kseta-header__menu-link" href="#">기타사업</a>-->
                                <!--                                    <ul class="kseta-header__submenu">-->
                                <!--                                        <li class="kseta-header__submenu-item">-->
                                <!--                                            <a class="kseta-header__submenu-link" href="#">취업지원</a>-->
                                <!--                                        </li>-->
                                <!--                                        <li class="kseta-header__submenu-item">-->
                                <!--                                            <a class="kseta-header__submenu-link" href="#">IT융합교육</a>-->
                                <!--                                        </li>-->
                                <!--                                        <li class="kseta-header__submenu-item">-->
                                <!--                                            <a class="kseta-header__submenu-link" href="#">학술연구</a>-->
                                <!--                                        </li>-->
                                <!--                                    </ul>-->
                                <!--                                </li>-->
                                <li class="kseta-header__menu-item">
                                    <a class="kseta-header__menu-link" href="#">고객센터</a>
                                    <ul class="kseta-header__submenu">
                                        <li class="kseta-header__submenu-item">
                                            <a class="kseta-header__submenu-link" href="#">공지사항</a>
                                        </li>
                                        <li class="kseta-header__submenu-item">
                                            <a class="kseta-header__submenu-link" href="#">1:1문의</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
</body>

<!-- KSETA 헤더 시작 -->
