<head th:fragment="head">
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <title>한국융합인재교육협회</title>

    <!-- 스타일 시트 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">

    <!-- 스크립트 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script th:src="@{/assets/js/slick.min.js}"></script>
</head>

<header class="kseta-header" th:fragment="body">
    <div class="kseta-header__container">
        <div class="kseta-header__logo">
            <a href="/">
                <img alt="한국융합인재교육협회 로고" class="kseta-header__logo-img" src="/assets/img/kseta_rogo.png">
            </a>
        </div>


        <nav class="kseta-header__nav">
            <ul class="kseta-header__menu">
                <li class="kseta-header__menu-item">
                    <a class="kseta-header__menu-link" href="/kseta/about">협회소개</a>
                    <ul class="kseta-header__submenu">
                        <li><a class="kseta-header__submenu-link" href="/kseta/about#greet">인사말</a></li>
                        <li><a class="kseta-header__submenu-link" href="/kseta/about#history">협회연혁</a></li>
                        <li><a class="kseta-header__submenu-link" href="/kseta/about#org">조직도</a></li>
                        <li><a class="kseta-header__submenu-link" href="/kseta/about#location">오시는 길</a></li>
                    </ul>
                </li>
                <li class="kseta-header__menu-item">
                    <a class="kseta-header__menu-link" href="/kseta/edu">융합교육</a>
                    <ul class="kseta-header__submenu">
                        <li><a class="kseta-header__submenu-link" href="/kseta/edu#project">추진사업</a></li>
                        <li><a class="kseta-header__submenu-link" href="/kseta/edu#business-goal">사업목표</a></li>
                    </ul>
                </li>
                <li class="kseta-header__menu-item">
                    <a class="kseta-header__menu-link" href="/kseta/certificate">자격검정</a>
                    <ul class="kseta-header__submenu">
                        <li><a class="kseta-header__submenu-link" href="/kseta/certificate#bigdata">빅데이터 전문가</a></li>
                        <li><a class="kseta-header__submenu-link" href="/kseta/certificate#ai">인공지능 마스터</a></li>
                        <li><a class="kseta-header__submenu-link" href="/kseta/certificate#certificate">자격증 발급</a></li>
                        <li><a class="kseta-header__submenu-link" href="#">시험접수</a></li>
                    </ul>
                </li>
                <li class="kseta-header__menu-item">
                    <a class="kseta-header__menu-link" href="#">고객센터</a>
                    <ul class="kseta-header__submenu">
                        <li><a class="kseta-header__submenu-link" href="#">공지사항</a></li>
                        <li><a class="kseta-header__submenu-link" href="#">1:1문의</a></li>
                    </ul>
                </li>

            </ul>
        </nav>
        <nav>
            <ul>
                <!-- 로그인 상태에 따라 다른 메뉴 표시 (로그인 여부에 따라 조건부 표시) -->
                <li class="kseta-header__auth-buttons" th:if="${session.loginUser == null}">
                    <a class="kseta-header__auth-button" href="/login">로그인</a>
                    <a class="kseta-header__auth-button kseta-header__auth-button--signup" href="/register">회원가입</a>
                </li>
                <li class="kseta-header__auth-buttons" th:if="${session.loginUser != null}">
                    <span class="kseta-header__welcome" th:text="${session.loginUser.name + '님 환영합니다'}">회원님 환영합니다</span>
                    <a class="kseta-header__auth-button" href="/mypage">마이페이지</a>
                    <a class="kseta-header__auth-button" href="/logout">로그아웃</a>
                </li>
            </ul>
        </nav>
        <button aria-label="메뉴" class="kseta-header__toggler" type="button">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>