<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="http://gdicland.com/assets/img/m1_1_planning_img1.jpg" property="og:image">
    <title>김해대동첨단산업단지㈜</title>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <script th:src="@{/assets/js/jquery.min.js}"></script>
    <script th:src="@{/assets/js/slick.min.js}"></script>
    <script th:src="@{/assets/js/gdic_v1.1.js}"></script>
    <script>
        $(function () {
            $('#gdic_header').html(gdic_header);
            $('#gdic_footer').html(gdic_footer);
            footer_slide_on();
            // $('.border_more_box').html(gdic_board)
            $('.nav_list1').addClass('active');
        })
    </script>
</head>

<body id="gdic_main">
<header id="gdic_header">

</header>

<section id="gdic_body">
    <div class="sub_top">
        <div class="container">
            <div class="row">
                <div class="col">

                </div>
            </div>
        </div>
    </div>

    <div class="m_p1">
        <div class="container">
            <div class="row mb_50">
                <div class="col">
                    <ul class="sub_nav_list f_s0">
                        <li>홈</li>
                        <li>사업안내</li>
                        <li>공지사항</li>
                    </ul>
                </div>
            </div>

            <div class="row mb_50">
                <div class="col">
                    <div class="sub_pagetitle">
                        <h2 class="ft_s5">공지사항</h2>
                        <p class="f_c_g2">김해대동첨단산업단지㈜의 최근소식을 알려드립니다.</p>
                    </div>
                </div>
            </div>

            <div class="row border_list_area">
                <div class="col">
                    <div class="mb_30">
                        <table class="board_style1 w-100 f_s1">
                            <colgroup>
                                <col width="5%">
                                <col width="88%">
                                <col width="7%">
                            </colgroup>
                            <thead>
                            <tr class="text-center">
                                <th>NO</th>
                                <th>TITLE</th>
                                <th>DATE</th>
                            </tr>
                            </thead>
                            <tbody class="f_c_g2 fw_pl">
                            <tr th:each="board : ${boardPage.getContent()}">
                                <td th:text="${board.id}"></td>
                                <td>
                                    <a class="f_c_g2"
                                       th:href="@{notice/{id}(id=${board.id}, page=${boardPage.getPageable().getPageNumber()})}" th:name="boardList" th:text="${board.title}"></a></td>
                                <td th:text="${#temporals.format(board.createdDate, 'MM-dd')}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div>

                        <ul class="board_con1 f_s0 fw_pl">

                            <a th:href="@{/board/notice(page=0,size=${boardPage.getPageable().getPageSize()})}"
                               th:if="${!boardPage.isFirst()}">
                                <li><<</li>
                            </a>

                            <a th:href="@{/board/notice(page=${((boardPage.getPageable().getPageNumber() / basePage) - 1) * basePage},size=${boardPage.getPageable().getPageSize()})}"
                               th:if="${prev}">
                                <li><</li>
                            </a>

                            <a th:each="pageNum : ${#numbers.sequence(startPage, endPage)}"
                               th:href="@{/board/notice(page=${pageNum}-1,size=${boardPage.getPageable().getPageSize()})}">
                                <li th:class="${pageNum} == ${boardPage.getPageable().getPageNumber() + 1} ? 'active' : ''"
                                    th:text="${pageNum}"/>
                            </a>

                            <a th:href="@{/board/notice(page=${((boardPage.getPageable().getPageNumber() / basePage) + 1) * basePage},size=${boardPage.getPageable().getPageSize()})}"
                               th:if="${next}">
                                <li>></li>
                            </a>

                            <a th:href="@{/board/notice(page=${boardPage.getTotalPages() -1},size=${boardPage.getPageable().getPageSize()})}"
                               th:if="${!boardPage.isLast()}">
                                <li>>></li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row border_more_area">
                <div class="col">
                    <div class="border_more_box">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer id="gdic_footer">

</footer>
</body>
</html>