<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta property="og:image" content="http://gdicland.com/assets/img/m1_1_planning_img1.jpg">
	<title>김해대동첨단산업단지㈜</title>
	<link rel="stylesheet" th:href="@{/assets/css/gdic_style_v1.1.css}">
	<script th:src="@{/assets/js/jquery.min.js}"></script>
	<script th:src="@{/assets/js/slick.min.js}"></script>
	<script th:src="@{/assets/js/gdic_v1.1.js}"></script>
	<script>
		$(function(){
			$('#gdic_header').html(gdic_header);
			$('#gdic_footer').html(gdic_footer);
			footer_slide_on();
			$('.main_popup').addClass('show');
		})
	</script>
	</head>

	
	<body id="gdic_main">
		<header id="gdic_header">
			
		</header>
		
		<section id="gdic_body">
			<div class="sub_top">
				<div class="container">
					<div class="row">
						<div class="col">
							
						</div>
					</div>
				</div>
			</div>

			<div class="m_p1">
				<div class="container">
					<div class="row mb_50">
						<div class="col">
							<ul class="sub_nav_list f_s0">
								<li>홈</li>
								<li>사업안내</li>
								<li>사업지위치</li>
							</ul>
						</div>
					</div>

					<div class="row mb_50">
						<div class="col">
							<div class="sub_pagetitle">
								<h2 class="ft_s5">사업지위치</h2>
								<p class="f_c_g2">김해대동첨단산업단지 사업지 위치를 보실 수 있습니다.</p>
							</div>
						</div>
					</div>

					<div class="row mb_30">
						<div class="col">
							<div>
								<a href="https://map.kakao.com/?map_type=TYPE_MAP&q=%EA%B2%BD%EB%82%A8+%EA%B9%80%ED%95%B4%EC%8B%9C+%EB%8C%80%EB%8F%99%EB%A9%B4+%EC%9B%94%EC%B4%8C%EB%A6%AC+500%EB%B2%88%EC%A7%80+%EC%9D%BC%EC%9B%90&urlX=955436&urlY=500055&urlLevel=3"><img th:src="@{/assets/img/m1_2_contact.jpg}" class="w-100" /></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<footer id="gdic_footer">
			
		</footer>
	</body>
</html>