<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:image" content="http://gdicland.com/assets/img/m1_1_planning_img1.jpg">
    <title>김해대동첨단산업단지㈜</title>
    <link rel="stylesheet" th:href="@{/assets/css/gdic_style_v1.1.css}">
    <script th:src="@{/assets/js/jquery.min.js}"></script>
    <script th:src="@{/assets/js/slick.min.js}"></script>
    <script th:src="@{/assets/js/gdic_v1.1.js}"></script>
    <script>
        $(function(){
            $('#gdic_header').html(gdic_header);
            $('#gdic_footer').html(gdic_footer);
            footer_slide_on();
            $('.main_popup').addClass('show');
        })
    </script>
</head>

<body id="gdic_main">
<header id="gdic_header">

</header>

<section id="gdic_body">
    <div class="sub_top">
        <div class="container">
            <div class="row">
                <div class="col">

                </div>
            </div>
        </div>
    </div>

    <div class="m_p1">
        <div class="container">
            <div class="row mb_50">
                <div class="col">
                    <ul class="sub_nav_list f_s0">
                        <li>홈</li>
                        <li>사업안내</li>
                        <li>공사진행현황</li>
                    </ul>
                </div>
            </div>

            <div class="row mb_50">
                <div class="col">
                    <div class="sub_pagetitle">
                        <h2 class="ft_s5">공사진행현황</h2>
                        <p class="f_c_g2">김해대동첨단산업단지㈜의 공사진행현황을 알려드립니다.</p>
                    </div>
                </div>
            </div>

            <div class="row border_list_area">
                <div class="col">
                    <div class="mb_30">
                        <table class="board_style1 w-100 f_s1">
                            <colgroup>
                                <col width="5%">
                                <col width="88%">
                                <col width="7%">
                            </colgroup>
                            <thead>
                            <tr class="text-center">
                                <th>NO</th>
                                <th>TITLE</th>
                                <th>DATE</th>
                            </tr>
                            </thead>
                            <tbody class="f_c_g2 fw_pl">
                            <tr>
                                <td class="text-center">40</td>
                                <td><a href="#" class="f_c_g2" onclick="board_show()">2023년 04월 공사진행 현황 알림</a></td>
                                <td class="text-center">05-12</td>
                            </tr>
                            <tr>
                                <td class="text-center">40</td>
                                <td><a href="#" class="f_c_g2" onclick="board_show()">2023년 04월 공사진행 현황 알림</a></td>
                                <td class="text-center">05-12</td>
                            </tr>
                            <tr>
                                <td class="text-center">40</td>
                                <td><a href="#" class="f_c_g2" onclick="board_show()">2023년 04월 공사진행 현황 알림</a></td>
                                <td class="text-center">05-12</td>
                            </tr>
                            <tr>
                                <td class="text-center">40</td>
                                <td><a href="#" class="f_c_g2" onclick="board_show()">2023년 04월 공사진행 현황 알림</a></td>
                                <td class="text-center">05-12</td>
                            </tr>
                            <tr>
                                <td class="text-center">40</td>
                                <td><a href="#" class="f_c_g2" onclick="board_show()">2023년 04월 공사진행 현황 알림</a></td>
                                <td class="text-center">05-12</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div>
                        <ul class="board_con1 f_s0 fw_pl">
                            <li class="active">1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>맨끝</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row border_more_area">
                <div class="col">
                    <div class="border_more_box">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer id="gdic_footer">

</footer>
</body>
</html>